<h1>Análisis de datos de Conflicto Armado</h1>

In [5]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('Datos/ConflictoArmado.csv', delimiter=';', decimal=',')

C:\Users\elpin\AppData\Local\Temp\ipykernel_13924\287794503.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Datos/ConflictoArmado.csv', delimiter=';', decimal=',')

In [7]:
data.shape

(314119, 13)

In [8]:
data.describe()

       Código Departamento  Código Entidad            Año       Mes
count        314118.000000   314118.000000  314118.000000  314118.0
mean             37.666667    38084.496473    2009.537906      12.0
std              26.018316    25990.452996       8.537646       0.0
min               1.000000     1001.000000    1984.000000      12.0
25%              15.000000    15667.000000    2006.000000      12.0
50%              25.000000    25806.000000    2014.000000      12.0
75%              66.000000    66000.000000    2015.000000      12.0
max              99.000000    99773.000000    2018.000000      12.0

In [9]:
data.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"35.826,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
2,5.0,Antioquia,5000.0,Antioquia,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"8.246,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
3,5.0,Antioquia,5001.0,Medellín,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"516,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
4,5.0,Antioquia,5002.0,Abejorral,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"75,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas

In [10]:
data.dtypes

Código Departamento    float64
Departamento            object
Código Entidad         float64
Entidad                 object
Dimensión               object
Subcategoría            object
Indicador               object
Dato Numérico           object
Dato Cualitativo        object
Año                    float64
Mes                    float64
Fuente                  object
Unidad de Medida        object
dtype: object

In [11]:
data.isnull().mean()

Código Departamento    0.000003
Departamento           0.000003
Código Entidad         0.000003
Entidad                0.000003
Dimensión              0.000003
Subcategoría           0.000003
Indicador              0.000000
Dato Numérico          0.174969
Dato Cualitativo       0.985560
Año                    0.000003
Mes                    0.000003
Fuente                 0.000000
Unidad de Medida       0.000003
dtype: float64

In [12]:
data.isnull().mean().sum()

1.1605569863650398

In [13]:
data = data.drop(data.index[0])

In [14]:
data.isnull().mean()

Código Departamento    0.000000
Departamento           0.000000
Código Entidad         0.000000
Entidad                0.000000
Dimensión              0.000000
Subcategoría           0.000000
Indicador              0.000000
Dato Numérico          0.174966
Dato Cualitativo       0.985560
Año                    0.000000
Mes                    0.000000
Fuente                 0.000000
Unidad de Medida       0.000000
dtype: float64

In [15]:
data['Dato Cualitativo'].fillna('No aplica', inplace=True)

In [16]:
data = data.dropna(how='any', axis=0)

In [17]:
data.isnull().mean()

Código Departamento    0.0
Departamento           0.0
Código Entidad         0.0
Entidad                0.0
Dimensión              0.0
Subcategoría           0.0
Indicador              0.0
Dato Numérico          0.0
Dato Cualitativo       0.0
Año                    0.0
Mes                    0.0
Fuente                 0.0
Unidad de Medida       0.0
dtype: float64

In [18]:
data.shape

(259158, 13)

In [19]:
data['Indicador'].value_counts()

Número de personas secuestradas                                                                                     38556
Número de personas desplazadas                                                                                      38556
Número de personas víctimas de minas antipersona                                                                    31752
Tasa de homicidios (x cada 100.000 habitantes)                                                                      16993
Tasa de violencia intrafamiliar (x cada 100.000 habitantes)                                                         16949
Tasa de hurtos (x cada 100.000 habitantes)                                                                          14036
Tasa de violencias basadas en género                                                                                 5670
Tasa de presuntos delitos sexuales hacia mujeres (x cada 100.000 mujeres)                                            2797
Presuntos delitos sexuales - Total de casos                                                                          2797
Presuntos delitos sexuales - Hombres                                                                                 2797
Tasa de presuntos delitos sexuales (x cada 100.000 habitantes)                                                       2797
Tasa de presuntos delitos sexuales hacia hombres (x cada 100.000 hombres)                                            2797
Presuntos delitos sexuales - Mujeres                                                                                 2754
Violencia de pareja -  Total de casos                                                                                2545
Violencia de pareja - Víctima hombre                                                                                 2545
Tasa de violencia de pareja (x cada 100.000 habitantes)                                                              2545
Tasa de violencia de pareja hacia hombres (x cada 100.000 hombres)                                                   2545
Tasa de violencia de pareja hacia mujeres (x cada 100.000 mujeres)                                                   2545
Homicidio de mujeres por:  Delincuencia común                                                                        2282
Tasa de homicidios de mujeres (x cada 100.000 mujeres)                                                               2282
Tasa de homicidios de hombres (x cada 100.000 hombres)                                                               2282
Homicidio de mujeres por:  Delincuencia organizada                                                                   2282
Homicidio de mujeres:  Total                                                                                         2282
Homicidio de mujeres por:  Sin información                                                                           2282
Homicidio de mujeres por:  Pareja o ex pareja                                                                        2282
Homicidio de mujeres por:  Grupos alzados al margen de la ley                                                        2282
Homicidio de mujeres por:  Familiar                                                                                  2282
Homicidio de mujeres por:  Fuerzas armadas y de policía                                                              2282
Homicidio de mujeres por:  Conocido                                                                                  2282
Homicidio de hombres por:  Pareja o ex pareja                                                                        2282
Homicidio de hombres por:  Agresor desconocido                                                                       2282
Homicidio de hombres por:  Amigo                                                                                     2282
Homicidio de mujeres por:  Amigo                                                                                     2282
Homicidio de hombres por:  Delincuencia común                                                                        2282
Homicidio de hombres por:  Familiar                                                                                  2282
Homicidio de hombres por:  Fuerzas armadas y de policía                                                              2282
Homicidio de hombres por:  Grupos alzados al margen de la ley                                                        2282
Homicidio de hombres por:  Conocido                                                                                  2282
Homicidio de hombres por:  Seguridad privada                                                                         2282
Homicidio de hombres por:  Sin información                                                                           2282
Homicidio de hombres:  Total                                                                                         2282
Homicidio de hombres por:  Delincuencia organizada                                                                   2282
Homicidio de mujeres por:  Agresor desconocido                                                                       2282
Violencia de pareja - Víctima mujer                                                                                  1669
Homicidio de hombres por:  Otros                                                                                     1508
Homicidio de mujeres por:  Otros                                                                                     1508
Número acumulado de personas desplazadas expulsadas                                                                  1134
Número acumulado de personas desplazadas recibidas                                                                   1134
Número acumulado de personas víctimas de minas antipersona                                                           1134
Número acumulado de personas secuestradas                                                                            1134
Homicidio de hombres por:  Personal de custodia en centros de internamiento especializado de menores infractores      764
Percepción de la seguridad - Algo inseguro                                                                             21
Percepción de la seguridad - Algo seguro                                                                               21
Percepción de la seguridad - Muy seguro                                                                                21
Percepción de la seguridad - Nada seguro                                                                               21
Percepción de la seguridad - Ni seguro ni inseguro                                                                     21
Percepción de la seguridad - Poco seguro                                                                               21
Percepción de la seguridad - Seguro                                                                                    21
Name: Indicador, dtype: int64

In [20]:
data['Dato Numérico'] = data['Dato Numérico'].str.replace('.','')

C:\Users\elpin\AppData\Local\Temp\ipykernel_13924\3510602877.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Dato Numérico'] = data['Dato Numérico'].str.replace('.','')

In [21]:
data['Dato Numérico'] = data['Dato Numérico'].str.replace(',00',',0')

In [22]:
data['Dato Numérico'] = data['Dato Numérico'].str.replace(',','.')

In [23]:
data['Dato Numérico'] = data['Dato Numérico'].astype('float')

In [24]:
data['Departamento'].value_counts()

Antioquia                   30842
Cundinamarca                26415
Boyacá                      23659
Santander                   18277
Nariño                      13622
Valle del Cauca             11224
Tolima                      10836
Bolívar                     10615
Cauca                       10361
Huila                        9347
Norte de Santander           9160
Meta                         7559
Córdoba                      7352
Magdalena                    6885
Chocó                        6833
Caldas                       6680
Cesar                        6531
Sucre                        6335
Atlántico                    5896
Casanare                     4715
Caquetá                      4100
La Guajira                   4089
Risaralda                    3946
Putumayo                     3424
Quindío                      3326
Arauca                       2032
Guaviare                     1207
Vichada                      1121
Amazonas                      757
Vaupés                        601
Guainía                       452
San Andrés y Providencia      422
Bogotá                        272
Colombia                      265
Name: Departamento, dtype: int64

In [25]:
data.to_csv('Datos/ConflictoArmado_limpio.csv', index=False, decimal='.', sep=';')