<h1>Análisis de datos de Salud</h1>

In [33]:
import pandas as pd
import numpy as np

In [34]:
data = pd.read_csv('Datos/salud.csv', sep=';')

C:\Users\elpin\AppData\Local\Temp\ipykernel_18540\2940956340.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Datos/salud.csv', sep=';')

In [35]:
data.shape

(469609, 13)

In [36]:
data.describe()

       Código Departamento  Código Entidad            Año            Mes
count        469608.000000    469608.00000  469608.000000  469608.000000
mean             37.703427     38120.23628    2014.002862      11.920052
std              26.041534     26013.19904       4.572861       0.271212
min               1.000000      1001.00000    1998.000000      11.000000
25%              15.000000     15667.00000    2010.000000      12.000000
50%              25.000000     25807.00000    2015.000000      12.000000
75%              66.000000     66000.00000    2018.000000      12.000000
max              99.000000     99773.00000    2021.000000      12.000000

In [37]:
data.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Salud,Aseguramiento,Afiliados al régimen contributivo,"19.957.739,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
2,5.0,Antioquia,5000.0,Antioquia,Salud,Aseguramiento,Afiliados al régimen contributivo,"3.220.651,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
3,5.0,Antioquia,5001.0,Medellín,Salud,Aseguramiento,Afiliados al régimen contributivo,"1.673.771,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
4,5.0,Antioquia,5002.0,Abejorral,Salud,Aseguramiento,Afiliados al régimen contributivo,"2.514,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas

In [38]:
data.isnull().sum()

Código Departamento         1
Departamento                1
Código Entidad              1
Entidad                     1
Dimensión                   1
Subcategoría                1
Indicador                   0
Dato Numérico           76120
Dato Cualitativo       469608
Año                         1
Mes                         1
Fuente                      0
Unidad de Medida            1
dtype: int64

In [39]:
data['Dato Cualitativo'].fillna('n/a', inplace=True)

In [40]:
data = data.dropna()

In [41]:
data['Dato Numérico'] = data['Dato Numérico'].str.replace('.', '')

C:\Users\elpin\AppData\Local\Temp\ipykernel_18540\3684333492.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Dato Numérico'] = data['Dato Numérico'].str.replace('.', '')

In [42]:
data['Dato Numérico'] = data['Dato Numérico'].str.replace(',00',',0')

In [43]:
data['Dato Numérico'] = data['Dato Numérico'].str.replace(',', '.')

In [44]:
data['Dato Numérico'] = data['Dato Numérico'].astype('float')

In [45]:
data.isnull().sum()

Código Departamento    0
Departamento           0
Código Entidad         0
Entidad                0
Dimensión              0
Subcategoría           0
Indicador              0
Dato Numérico          0
Dato Cualitativo       0
Año                    0
Mes                    0
Fuente                 0
Unidad de Medida       0
dtype: int64

In [46]:
data.shape

(393489, 13)

In [48]:
data['Indicador'].value_counts()

Promedio de controles prenatales                                                                 18133
Porcentaje de nacidos vivos con 4 o más consultas de control prenatal                            18132
Porcentaje de nacidos vivos hijos de mujeres de 18 a 26 años                                     18130
Cobertura vacunación pentavalente en menores de 1 año                                            18129
Tasa de mortalidad (x cada 1.000 habitantes)                                                     18128
Tasa de fecundidad específica en mujeres de 10 a 19 años                                         18100
Porcentaje de nacidos vivos hijos de mujeres de 14 a 17 años                                     17961
Porcentaje de nacidos vivos con bajo peso al nacer                                               17679
Tasa de mortalidad infantil en menores de 1 año (x cada 1.000 nacidos vivos)                     17180
Tasa de mortalidad neonatal                                                                      17132
Tasa de mortalidad infantil en menores de 5 años                                                 14955
Tasa de fecundidad específica en mujeres de 10 a 14 años                                         13920
Cobertura del régimen subsidiado                                                                 12368
Afiliados al régimen subsidado                                                                   11340
Afiliados a regímenes especiales                                                                 11340
Afiliados al régimen contributivo                                                                11340
Afiliados al SGSSS                                                                               10206
Cobertuna de vacunación triple viral                                                              9105
Porcentaje de nacidos vivos hijos de mujeres menores de 14 años                                   8813
Tasa de fecundidad (x cada 1.000 mujeres en edad fértil)                                          7938
Tasa de negligencia y abandono                                                                    7714
Mujeres con suministro de métodos de anticoncepción                                               7248
Mortalidad en menores de 5 años por infección respiratoria aguda (IRA)                            5718
Cobertura de vacunación DPT                                                                       5703
Tasa de fecundidad en mujeres entre 15 y 19 años                                                  5668
Incidencia del dengue                                                                             5667
Razón de mortalidad materna a 42 días                                                             5585
Incidencia de la tuberculosis                                                                     5011
Tasa ajustada de mortalidad por lesiones autoinfligidas intencionalmente (suicidios) - Mujer      4536
Tasa ajustada de mortalidad por lesiones autoinfligidas intencionalmente (suicidios)              4536
Tasa ajustada de mortalidad por lesiones autoinfligidas intencionalmente (suicidios) - Hombre     4535
Tasa ajustada de mortalidad por tumor maligno de la mama de la mujer                              4534
Tasa ajustada de mortalidad por tumor maligno de la próstata                                      4534
Tasa ajustada de mortalidad por tumor maligno del cuello del útero                                4534
Tasa ajustada de mortalidad por accidentes de transporte terrestre - Mujeres                      4533
Tasa ajustada de mortalidad por accidentes de transporte terrestre - Hombres                      4533
Tasa ajustada de mortalidad por accidentes de transporte terrestre                                4523
Mortalidad por desnutrición en menores de 5 años                                                  3765
Mortalidad en menores de 5 años por enfermedad diarréica aguda (EDA)                              3645
Población pobre no atendida - PPNA                                                                2261
Incidencia del VIH                                                                                1134
Incidencia del VIH - Hombre                                                                       1134
Incidencia del VIH - Mujer                                                                        1134
Motalidad asociada a VIH / SIDA                                                                    750
Personas con discapacidad                                                                          165
Tasa de mortalidad prematura por diabetes mellitus                                                 132
Tasa de mortalidad prematura por enfermedades del sistema circulatorio                             132
Incidencia de enfermedad de chagas                                                                  96
Name: Indicador, dtype: int64

In [47]:
data.to_csv('Datos/salud_limpio.csv', sep=';', index=False, decimal='.')