<h1>Análisis de datos de desempleo</h1>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Datos/Desempleo.csv', sep=';')

In [3]:
data.shape

(100, 13)

In [4]:
data.describe()

       Código Departamento  Código Entidad  Dato Cualitativo     Año   Mes
count            99.000000       99.000000               0.0    99.0  99.0
mean             51.848485    51848.515152               NaN  2020.0  12.0
std              31.399130    31399.080674               NaN     0.0   0.0
min               1.000000     1001.000000               NaN  2020.0  12.0
25%              20.000000    20000.000000               NaN  2020.0  12.0
50%              52.000000    52000.000000               NaN  2020.0  12.0
75%              81.000000    81000.000000               NaN  2020.0  12.0
max              99.000000    99000.000000               NaN  2020.0  12.0

In [5]:
data.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Medición de desempeño departamental,Resumen MDD,Componente de gestión,"64,47",NaN,2020.0,12.0,DNP - DDDR,Puntos
2,5.0,Antioquia,5000.0,Antioquia,Medición de desempeño departamental,Resumen MDD,Componente de gestión,"81,60",NaN,2020.0,12.0,DNP - DDDR,Puntos
3,8.0,Atlántico,8000.0,Atlántico,Medición de desempeño departamental,Resumen MDD,Componente de gestión,"68,73",NaN,2020.0,12.0,DNP - DDDR,Puntos
4,13.0,Bolívar,13000.0,Bolívar,Medición de desempeño departamental,Resumen MDD,Componente de gestión,"63,53",NaN,2020.0,12.0,DNP - DDDR,Puntos

In [6]:
data.isnull().sum()

Código Departamento      1
Departamento             1
Código Entidad           1
Entidad                  1
Dimensión                1
Subcategoría             1
Indicador                0
Dato Numérico            1
Dato Cualitativo       100
Año                      1
Mes                      1
Fuente                   0
Unidad de Medida         1
dtype: int64

In [7]:
data['Dato Cualitativo'].fillna('n/a', inplace=True)

In [8]:
data = data.dropna()

In [9]:
data['Dato Numérico'] = data['Dato Numérico'].str.replace('.', '')

C:\Users\elpin\AppData\Local\Temp\ipykernel_3576\3684333492.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Dato Numérico'] = data['Dato Numérico'].str.replace('.', '')

In [10]:
data['Dato Numérico'] = data['Dato Numérico'].str.replace(',00',',0')

In [11]:
data['Dato Numérico'] = data['Dato Numérico'].str.replace(',', '.')

In [12]:
data['Dato Numérico'] = data['Dato Numérico'].astype('float')

In [13]:
data.isnull().sum()

Código Departamento    0
Departamento           0
Código Entidad         0
Entidad                0
Dimensión              0
Subcategoría           0
Indicador              0
Dato Numérico          0
Dato Cualitativo       0
Año                    0
Mes                    0
Fuente                 0
Unidad de Medida       0
dtype: int64

In [14]:
data.shape

(99, 13)

In [16]:
data['Indicador'].value_counts()

Componente de gestión       33
Componente de resultados    33
MDD                         33
Name: Indicador, dtype: int64

In [15]:
data.to_csv('Datos/Desempleo_limpio.csv', sep=';', index=False, decimal='.')